<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
    </style>
    <link rel="stylesheet" href="vansh.css">
    <script src="https://kit.fontawesome.com/fa6e008efc.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="top">
        <div class="logo">
            <span class="logoname">SHOPPERS EDGE</span>
        </div>
        <ul class="upper">
            <li>Home</li>
            <li>About</li>
            <li>Search</li>
        </ul>
    </nav>
</div>
<div class="heading">
    <b>SHOPPERS EDGE</b>
    <div class="subheading">
        "A Price Comparison site that fetches data from multiple sources and select the best results"
    </div>
    <div class="searchbar">
        <form class="searchform">
            <input type="text" name="Search" id="search" placeholder="  Search for amazing products">
            <i id="searchicon" class="fa-solid fa-magnifying-glass" style="color: #624c2c;"></i>
        </form>
    </div>
</div>
    <div class="container">
        <div class="text">Search for Groceries</div>
        <div class="productlist1">
            <div class="productitem">
                <img src="rice.jpg" alt="1">
                <div class="productname">Rice</div>
            </div>
            <div class="productitem">
                <img src="wheat.jpg" alt="1">
                <div class="productname">Wheat Flour (Atta)</div>
            </div>
            <div class="productitem">
                <img src="fortune.jpg" alt="1">
                <div class="productname">Refined Oil</div>
            </div>
        </div>
        <div class="text">Search for Clothes</div>

        <div class="productlist1">
            <div class="productitem">
                <img src="shoes.jpg" alt="1">
                <div class="productname">Shoes</div>
            </div>
            <div class="productitem">
                <img src="shirts3.jpg" alt="1">
                <div class="productname">Shirts</div>
            </div>
            <div class="productitem">
                <img src="hoodies.jpg" alt="1">
                <div class="productname">Hoodies</div>
            </div>
        </div>
        <div class="text">Search for Electronics</div>
        <div class="productlist1">
            <div class="productitem">
                <img src="smartphones.jpg" alt="1">
                <div class="productname">Smartphones</div>
            </div>
            <div class="productitem">
                <img src="tv.jpg" alt="1">
                <div class="productname">TV</div>
            </div>
            <div class="productitem">
                <img src="headphones.jpg" alt="1">
                <div class="productname">Headphones</div>
            </div>
        </div>
    </div>
</body>
</html>